//breakpoints
$tablet-width: 768px;
$desktop-width: 1024px;

//fonts
$heading-text: 'Pacifico', cursive;
$body-text: 'Noto Sans JP', sans-serif;

//colors
$green: #1B846F;
$yellow: #FEBC32;
$pink: #ffdee9;
